*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gothic A1', sans-serif;
}
.container-cabecalho{
    background-image:url('../imagens/fala-universidades-netflix-3-1.webp');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
}
#background-cabecalho{
    display: flex;
    flex-direction: column;
    background-color: rgba(23, 23, 23, 0.719);
    height: 100vh;
}
#menu{
    display: flex;
    align-items: center;
    background-color: rgba(227, 43, 43, 0.995);
}
#menu > div > p{
    margin-left: 10px;
    font-size: 4em;
    color: rgb(61, 56, 56);
    font-family: 'Staatliches', sans-serif;
}
#container-login{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 3px;
    border-radius: 5px;
}
#container-login > a{
    display: flex;
    margin-right: 10px;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
#container-login > a:hover{
    color: rgb(58, 55, 55);
}
#container-menu{
    width: 50%;
    display: flex;
    margin: 0px auto;
    justify-content: space-evenly;
    padding: 20px;
}
#container-menu > button{
    display: none;
}
#container-menu > a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}
#container-menu > a:hover{
    color: rgb(58, 55, 55);
}
#container-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
#container-titulo > div{
    display: flex;
    flex-direction: column; 
    width: 60%;
}
#container-titulo > div >h1{
    font-size: 4em;
    color: rgb(209, 8, 8);
    font-family: 'Staatliches', sans-serif;
    font-weight: lighter;
}
#container-titulo > div > p{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
}
#btn-voltar{
    position: fixed;
    bottom:5vh;
    left: 95%;
}
#btn-voltar > img{
    width: 50px;
}
/*Form de pesquisa de filmes*/
.form-pesquisa{
    display: flex;
    margin-top: 50px;
    width: 35%;
    height: 40px;
}
.input-pesquisa{
    width: 85%;
    right: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.799);
    padding: 5px;
    font-size: 1.3em;
    color:black;
}
#btn-pesquisa{
    width: 15%;
    right: 40px;
    margin-left: 5px;
    font-size: 1.1em;
    color: white;
    background-color: red;
    border: none;
    font-family: 'Arimo', sans-serif;
}
/*Seção de filmes*/
#movies-section{
    text-align: center;
    padding-top: 60px;
    background-color: rgb(16, 15, 15);
}
#movies-section > h1{
    font-size: 3.5em;
    padding: 50px;
    font-weight: bold;
    color: white;
}
#movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#movies > div{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 520px;
    margin: 40px;
    text-align: center;
    color: white;
}
#movies > div > h2{
    height: 70px;
}
#movies > div > img{
    width: 250px;
    margin:auto;
}
/*series*/
#tv-shows-section{
    text-align: center;
    padding-top: 60px;
    background-color: rgb(16, 15, 15);
    border-top: 5px solid rgb(77, 74, 74);
}
#tv-shows-section > h1{
    font-size: 3.5em;
    padding: 50px;
    font-weight: bold;
    color: white;
}
#tv-shows{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#tv-shows > div{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 520px;
    margin: 40px;
    text-align: center;
    color: white;
}
#tv-shows > div > h2{
    height: 70px;
}
#tv-shows > div > img{
    width: 250px;
    margin:auto;
}
#back-to-tv-shows,
#back-to-movies,
#form-btn,
#movies > div > button,
#tv-shows > div > button{
    margin: 20px auto;
    height: 50px;
    width: 150px;
    font-size: 1.3em;
    background-color: red;
    border: none;
    color: white;
    font-family: 'Arimo', sans-serif;
}
/*Detalhes*/
#tv-show-details-section,
#movie-details-section{
    font-family: 'Merriweather', serif;
    display: flex;
    height: 100vh;
    background-image: url('../imagens/fala-universidades-netflix-3-1.webp');
}
.detalhes-conteudo{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.885);
}
.detalhes-conteudo > div{
    display: flex;
    width: 80%;
    background-color: rgba(25, 24, 24, 0.832);
}
.detalhes-conteudo > div >img{
    display: flex;
    width: 30%; 
}
.detalhes-conteudo > div > div{
    display: flex;
    flex-direction: column;
    color: white;
}
.detalhes-conteudo > div > div > h2{
    font-size: 2.5em;
    padding: 10px;
}
.detalhes-conteudo > div > div > p > strong{
    color: white;
}
.detalhes-conteudo > div > div > p{
    color: gray;
    font-size: 1.3em;
    padding: 10px;
}
/*Container Oscar*/
.container-oscar{
    background-image: url("../imagens/oscar-2023-onde-assistir_4520.jpeg");
}
.container-oscar > div{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-top: 5px solid rgb(41, 38, 38);
    background-color: rgba(37, 35, 35, 0.743);
    color: white;
}
.container-oscar > div > h1{
    font-size: 3.5em;
}
.container-oscar-tabela{
    width: 70%;
    height: 45vh;
}
table{
    width: 100%;
}
thead{
    background-color: rgb(184, 24, 24);
    font-size: 2em;
    font-weight: bold;
}
tbody{
    background-color: rgb(56, 54, 54);
    font-size: 1.5em;
}
/*Form*/
.container-form{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 600px;
    background-color: rgba(36, 34, 34, 0.721);
    border-radius: 5px;
}
.container-form > h3{
    font-size: 2.5em;
    padding: 20px;
    text-align: center;
    color: white;
}
.container-form > p{
    margin: 20px auto;
    width: 80%;
}
.container-input{
    margin: 20px auto;
    height: 70px;
}
.container-input > input{
    width: 99%;
    height:40px;
}
label{
    color: white;
    font-size: 1.2em;
}
input{
    outline: none;
    font-size: 1.1em;
    padding-left: 3px;
    font-weight: bold;
}
textarea{
    width: 99%;
    height: 100px;
    font-size: 1.1em;
    padding-left: 3px;
    font-weight: bold;
    outline: none;
}
.section-form{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url('../imagens/685983d002c54c0.jpg');
    background-size: cover;
    background-position: center center;
}
.background-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(104, 101, 101, 0.648);
}
.background-form > div{
    display: flex;
    justify-content: space-evenly;
}
.background-form > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 600px;
}
.background-form > div > div > p{
    font-size: 2.5em;
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
/*roda pé*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 42, 42);
}
footer > div{
    text-align: center;
    margin: 20px;
    color: gray;
}
footer > div > h4{
    margin-bottom: 20px;
}
footer > div > a{
    padding: 20px;
}
img{
    width: 30px;
}
/*Estilo da barra de rolagem*/
::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(229, 42, 42);
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: #070707;
  }

  

/*Midia query (Resposividade para Mobile)*/
@media (max-width:600px){
    #menu-adaflix{
        display: none;
    }
    #container-menu{
        width: 80%;
    }
    #container-menu > a{
        padding-left: 10px;
        font-size: 1em;
    }
    #container-login > a{
        display: none;
    }
    #container-titulo > div > h1{
        font-size: 3em;
        text-align: center;
    }
    #container-titulo > div > p{
        font-size: 1.3em;
    }
    #container-titulo > form{
        width: 70%;
    }
    #container-titulo > form > button{
        font-size: 0.8em;
    }
    .background-form > div > div{
        display: none;
    }
    .container-form{
        height: 100vh;
        width: 100%;
    }
    .container-form > h3{
        font-size: 2em;
    }
    #btn-voltar{
        left: 88%;
        bottom: 1vh;
        width: 30px;
    }
    .detalhes-conteudo > div >img{
        display: none;
    }


    .container-oscar > div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        border-top: 5px solid rgb(41, 38, 38);
        background-color: rgba(37, 35, 35, 0.743);
        color: white;
    }
    .container-oscar > div > h1{
        text-align: center;
        font-size: 1.5em;
    }
    .container-oscar-tabela{
        width: 70%;
        height: 30vh;
    }
    table{
        width: 100%;
    }
    thead{
        background-color: rgb(184, 24, 24);
        font-size: 1.3em;
        font-weight: bold;
    }
    tbody{
        background-color: rgb(56, 54, 54);
        font-size: 1.1em;
    }
    
}








