*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.container-cabecalho{
    background-image:url('../imagens/fala-universidades-netflix-3-1.webp');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
}
#background-cabecalho{
    display: flex;
    flex-direction: column;
    background-color: rgba(23, 23, 23, 0.719);
    height: 100vh;
}
#background-cabecalho > nav{
    background-color: rgba(227, 43, 43, 0.995);
}
#menu{
    display: flex;
    align-items: center;
}
#menu > div > p{
    margin-left: 10px;
    font-size: 3.5em;
    color: rgb(61, 56, 56);
}
#container-login{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 3px;
    border-radius: 5px;
}
#container-login > a{
    display: flex;
    margin-right: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#container-menu{
    width: 50%;
    display: flex;
    margin: 0px auto;
    justify-content: space-evenly;
    padding: 20px;
}
#container-menu > a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}
#container-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
#container-titulo > div{
    display: flex;
    flex-direction: column;
    
    width: 60%;
}
#container-titulo > div >h1{
    font-size: 4em;
    color: rgb(209, 8, 8);
}
#container-titulo > div > p{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
}
/*Form de pesquisa de filmes*/

#movies-section{
    text-align: center;
    padding-top: 60px;
    background-color: rgb(16, 15, 15);
}

#movies-section > h1{
    font-size: 3.5em;
    padding: 50px;
    font-weight: bold;
    color: white;
}
#movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#movies > div{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 520px;
    margin: 40px;
    text-align: center;
    color: white;
}
#movies > div > h2{
    height: 70px;
}
#movies > div > img{
    width: 250px;
    margin:auto;
}
#movies > div > button{
    margin: 20px auto;
    height: 50px;
    width: 150px;
    background-color: red;
    border: none;
    color: white;
}

/*series*/
#tv-shows-section{
    text-align: center;
    background-color: rgb(16, 15, 15);
    border-top: 5px solid rgb(77, 74, 74);
}
#tv-shows-section > h1{
    font-size: 3.5em;
    padding: 50px;
    font-weight: bold;
    color: white;
}
#tv-shows{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#tv-shows > div{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 520px;
    margin: 40px;
    text-align: center;
    color: white;
}
#tv-shows > div > h2{
    height: 70px;
}
#tv-shows > div > img{
    width: 250px;
    margin:auto;
}
#back-to-tv-shows,
#back-to-movies,
#form-btn,
#tv-shows > div > button{
    margin: 20px auto;
    height: 50px;
    width: 150px;
    background-color: red;
    border: none;
    color: white;
}
/*Detalhes*/
#tv-show-details-section,
#movie-details-section{
    display: flex;
    height: 100vh;
    background-image: url('../imagens/fala-universidades-netflix-3-1.webp');
}
.detalhes-conteudo{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.885);
}

.detalhes-conteudo > div{
    display: flex;
    width: 80%;
    background-color: rgba(25, 24, 24, 0.832);
}
.detalhes-conteudo > div >img{
    display: flex;
    width: 30%; 
}
.detalhes-conteudo > div > div{
    display: flex;
    flex-direction: column;
    color: white;
}
.detalhes-conteudo > div > div > h2{
    font-size: 2.5em;
    padding: 10px;
}
.detalhes-conteudo > div > div > p > strong{
    color: white;
}
.detalhes-conteudo > div > div > p{
    color: gray;
    font-size: 1.3em;
    padding: 10px;
}

/*Form*/
.container-form{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 600px;
    background-color: rgba(61, 57, 57, 0.754);
}
.container-form > h3{
    font-size: 2.5em;
    padding: 20px;
    text-align: center;
    color: white;
}
.container-form > p{
    margin: 20px auto;
    width: 80%;
}
.container-input{
    margin: 20px auto;
    height: 70px;
}
.container-input > input{
    width: 99%;
    height:40px;
}
label{
    color: white;
    font-size: 1.2em;
}
textarea{
    width: 99%;
    height: 100px;
}
.section-form{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url('../imagens/685983d002c54c0.jpg');
    background-size: cover;
    background-position: center center;
}
.background-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: rgba(121, 113, 113, 0.674);
}
.background-form > div{
    display: flex;
    justify-content: space-evenly;
}
.background-form > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 600px;
}
.background-form > div > div > p{
    font-size: 2.5em;
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

/*roda pé*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 42, 42);
}
footer > div{
    text-align: center;
    margin: 20px;
    color: gray;
}
footer > div > h4{
    margin-bottom: 20px;
}

footer > div > a{
    padding: 20px;
}
img{
    width: 30px;
}

/*Estilo da barra de rolagem*/
::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(229, 42, 42);
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #070707;
  }

  /*Midia query (Resposividade para Mobile)*/
@media (max-width:600px){
    .background-form > div > div{
        display: none;
    }

    .detalhes-conteudo > div >img{
        display: none;
    }

}








